{% extends "base.html" %}
{% block body %}
<div id="header" class="full-width bar">On My Way</a>
On my way is an HTML5 trip-based location sharing application for Twitter intended for use on mobile devices.
1. Authorize access to your Twitter account by clicking the "Begin" button.
2. Begin a new trip by specifying a destination in the destination bar.  On my way sends out a tweet from your account containing URL for your followers to track your progress towards the destination and see your estimated arrival time.
3. Drive!  When you arrive, On my way sends out another Tweet letting your followers know you've arrived and stops tracking your location.

<a href='/authorize/'>Begin</a>
{% endblock %}

