{% extends "base.html" %}
{% block head %}

<style type='text/css'>
html {
	height: 100%;
}
body {
	height: 100%;
}
#map_canvas {
	height: 100%;
}
#destination_form {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1;
</style>

<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&sensor=false'></script>
<script type='text/javascript'>


$(document).ready(function() {
	var position_watcher;
	
	var flash_error = function(error) {
		alert(error); // change this to update and animate a div
	};
	
	var show_map = function(position, z) {
		var map = new google.maps.Map($('#map_canvas')[0], {
			center: position,
			zoom: z,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});
		var marker = new google.maps.Marker({
			position: position,
			map: map,
			title: 'Here you are'
		});
	};
	
	var get_route = function(pos, dest) {
		var directionsService = new google.maps.DirectionsService();
		directionsService.route({
			origin: pos,
			destination: dest,
			travelMode: google.maps.TravelMode.DRIVING
		}, function(result, status) {
			if (status == google.maps.DirectionsStatus.OK) {
				duration = result.routes[0].legs[0].duration.value;
			} else {
				flash_error('Bad response from Google');
			}
		});
	};
	
	var update_location = function(destination) { // get geolocation and update map
		if (!!navigator.geolocation) { // geolocation supported
			position_watcher = navigator.geolocation.watchPosition( function(p) {
				get_route(new google.maps.LatLng(p.coords.latitude, p.coords.longitude), destination); 
			}, function(e) {
				if (e.code == 1) {
					flash_error('You must allow location sharing.');
				} else {
					flash_error('Could not identify position.');
				}
			});
		} else { // geolocation not supported
			flash_error('Geolocation not supported by this browser');
		}
	};
	
	$('input[name="destination_bar"]').keypress( function(e) {
		if (e.which == 13) { // user has pressed enter
			e.preventDefault();
			update_location($(this).val());
		}
	});

});
</script>
{% endblock %}
{% block body %}
<div id='map_canvas'></div>
<div id='destination_form'>
	<form>
		<input name='destination_bar' placeholder='Where are you headed?'>
	</form>
</div>
{% endblock %}
